@model IEnumerable<Kakeibo.Models.Category>

@{
    ViewData["Title"] = "カテゴリ編集";
}

<h1>カテゴリ編集</h1>

<p>
    <a asp-action="Create">カテゴリ追加</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                収支
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if(item.IsExpense)
                {
                    <span>支出</span>
                }
                else
                {
                    <span>収入</span>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">編集</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">削除</a>
            </td>
        </tr>
}
    </tbody>
</table>
